---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/eventstorecloud_managed_cluster/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

### Valid Values

Use only the following values as `disk_type`:

| Provider | Disk types |
| :------- | :--------- |
| Azure | `premium-ssd-lrs` |
| Google Cloud | `ssd` |
| AWS | `gp2`, `gp3` |

For `server_version`, use one of the available EventStoreDB product versions:
- `20.10`
- `21.6`
- `21.10`

For `projection_level`, use one of the following values:
- `off` (the projections subsystem is disabled completely)
- `system` (only run system projections)
- `user` (both system and custom JavaScript projections are enabled)

Use one of the available instance types as `instance_type`:

Small-scale:
- `F1`
- `C4`

Production scale:
- `M8`
- `M16`
- `M32`
- `M64`
- `M128`

Check our [instance size guide](https://developers.eventstore.com/cloud/provision/cloud-instance-guidance/) to choose the right size for your workload.

Use one of the following values as `topology`:
- `single-node`
- `three-node-multi-zone`

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/eventstorecloud_managed_cluster/import.sh" }}
