name: CI
on: 
    pull_request:
    push:
      branches:
        - master
jobs:
  checks:
    timeout-minutes: 7
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2.3.4
      -
        name: Unshallow
        run: git fetch --prune --unshallow
      -
        name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      -
        name: Run checks
        run: make ci
